<h2><%= t ".title" %></h2>
<p><%= t ".content" %></p>
<p>© <%= Date.today.year %> <%= t ".appname" %></p>
<head>
                        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title>Chọn Món - Đặt món Online tại Việt Nam - Đặt món, gọi món Online | ChonMon.vn</title>
            <meta name="title" content="Chọn Món - Đặt món Online tại Việt Nam - Đặt món, gọi món Online | ChonMon.vn">
            <meta name="KEYWORDS" content="dat mon an tren mang, giao hang tan noi, giao mon an tan nha">
            <meta name="DESCRIPTION" content="Chọn món Online - Đặt món Online và nhận món ăn giao đến tận nơi. Không thêm chi phí! - Đặt món ăn trực tuyến là chonmon.vn">

            <meta http-equiv="EXPIRES" content="0">
            <meta name="RESOURCE-TYPE" content="DOCUMENT">
            <meta name="DISTRIBUTION" content="GLOBAL">
            <meta name="AUTHOR" content="ChonMonDotVN">
            <meta name="COPYRIGHT" content="Copyright (c) by ChonMon.vn">
                            <meta name="ROBOTS" content="INDEX, FOLLOW">
                <meta name="Googlebot" content="index,follow,archive">
                        <meta name="RATING" content="GENERAL">
            <meta name="GENERATOR" content="ChonMon.vn">
            <meta name="geo.region" content="Vietnam">

                                                            <meta name="geo.placename" content="Ha Noi City">

            <meta name="og:title" content="Chọn Món - Đặt món Online tại Việt Nam - Đặt món, gọi món Online | ChonMon.vn">
            <meta name="og:description" content="Chọn món Online - Đặt món Online và nhận món ăn giao đến tận nơi. Không thêm chi phí! - Đặt món ăn trực tuyến là chonmon.vn">

                            <meta name="og:image" content="https://chonmon.vn/images/logo_2.png">

                            <link rel="canonical" href="https://chonmon.vn/">

            <base href="https://chonmon.vn/">

            <link rel="shortcut icon" href="https://chonmon.vn/favicon.ico?v=3.1">
            <meta name="viewport" content="width=device-width">


                <!-- Bootstrap -->
            <link rel="stylesheet" href="https://chonmon.vn/public/css/bootstrap.min.css?v=6.5111111111113">
            <link rel="stylesheet" href="https://chonmon.vn/public/css/global.css?v=6.5111111111113">
            <link rel="stylesheet" href="https://chonmon.vn/public/css/bootstrap-select.css?v=6.5111111111113">
            <link rel="stylesheet" href="https://chonmon.vn/public/css/font-face.css?v=6.5111111111113">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="https://chonmon.vn/public/js/flexSlider/flexslider.css?v=6.5111111111113">
            <link rel="stylesheet" href="https://chonmon.vn/public/plugins/chosen/chosen.min.css?v=6.5111111111113">

                <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script src="https://chonmon.vn/public/js/jquery-1.8.3.min.js"></script>

                <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
                <!--[if lt IE 9]>
                <script src="https://getbootstrap.com/assets/js/ie8-responsive-file-warning.js" async></script>
                <script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js" async></script>
                <![endif]-->
                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" async></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" async></script>
                <![endif]-->

                <script src="https://chonmon.vn/public/js/bootstrap.min.js" async=""></script>
                <script src="https://chonmon.vn/public/js/flexSlider/jquery.flexslider-min.js" async=""></script>
                <script src="https://chonmon.vn/public/js/main.js?v=6.5111111111113" async=""></script>
                <script type="text/javascript" src="https://chonmon.vn/javascript/library.js?v=6.5111111111113" async=""></script>
                <script type="text/javascript" src="https://chonmon.vn/public/plugins/chosen/chosen.jquery.min.js?v=6.5111111111113" async=""></script>

            <link rel="stylesheet" href="https://chonmon.vn/style/chonmon_block.css?ver=6.5111111111113" type="text/css">


            <script language="javascript">
                var query_string = "?", BASE_URL = "https://chonmon.vn/", TINYMCE = "tinymce349", WEB_DIR = "/";
                var IS_ROOT = 0, IS_ADMIN = 0, IS_MOD=0, IS_LOGIN = 0,EB_USER_NAME = "", IS_BLOCK=0, CUR_AREA = 0;            </script>


            <script type="text/javascript" src="https://chonmon.vn/javascript/header.js?ver=6.5111111111113" async=""></script>
<script type="text/javascript" src="https://chonmon.vn/javascript/chonmon_block.js?ver=6.5111111111113" async=""></script>
<script type="text/javascript" src="https://chonmon.vn/javascript/jstorage.js?ver=6.5111111111113" async=""></script>
<script type="text/javascript" src="https://chonmon.vn/javascript/jquery/packed/jquery.jcache.js?ver=6.5111111111113" async=""></script>
<script type="text/javascript" src="https://chonmon.vn/javascript/jquery/packed/jquery.cookie.js?ver=6.5111111111113" async=""></script>

                            <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-16561602-15']);
                    _gaq.push(['_trackPageview']);
                    _gaq.push(['_trackPageLoadTime']);

                    (function () {
                        var ga = document.createElement('script');
                        ga.type = 'text/javascript';
                        ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(ga, s);
                    })();
                </script>

                    </head>

<body>
                <div id="loading-layer" style="display:none">
            <div id="loading-layer-text" style="vertical-align:middle">
                <img src="https://chonmon.vn/style/images/ajax-loader.gif?v=0.1121989" style="vertical-align:text-bottom" class="displayIn" width="16" hspace="5" height="16"> Đang tải dữ liệu ...
            </div>
        </div>
                <div id="debug"></div>
<div class="topNav">
    <div class="container">
        <div class="row">
            <ul class="prjSelect">
                <li><a class="active" href="javascript:void(0);" title="Gọi món ăn trực tuyến">Chonmon.vn</a></li>
                <li><a href="https://eat.vn" title="Order food online">Eat.vn</a></li>
                <li><a href="https://suma.vn" title="Supermarker online">Suma.vn</a></li>
            </ul>
        </div>
    </div>
</div>
<header id="top" class="header bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <h1 class="logo">
                <a class="navbar-brand" href="/">Chọn món ăn trực tuyến</a>
            </h1>
            <ul class="navbar-toggle skip-link" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <li><a class="skip-contact-icon" href="javascript:void(0);">08. 7308 3939</a></li>
                <li><a class="skip-account-icon" href="javascript:void(0);">Sign in / Sign up</a></li>
            </ul>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="contact">
                    <span>08. 7308 3939</span> (7h – 23h)
                </li>

                <li class="account">
                                            <a href="/register.html" onclick="open_model('#model-login-register'); return false;" class="model-login">Đăng ký</a> /
                        <a href="/register.html" onclick="open_model('#model-login-register'); return false;" class="model-register">Đăng nhập</a>
                                    </li>
            </ul>
        </nav>
    </div>
</header>
<main class="main">
    <div class="container">
    <form name="HomeForm" id="HomeForm" method="get" action="/"><input name="form_block_id" value="49604" type="hidden">
        <div class="search">
            <div class="row">
                <div class="col-md-12">
                    <h1>Chọn nơi bạn muốn nhận đồ ăn?</h1>
                                    </div>
            </div>
            <div class="row">
                <div class="location-search big-select">
                    <div class="col-md-4 col-sm-6 col-md-offset-1 col-xs-12">
                        <div class="form-group">
                            <select name="province" id="province" class="form-control search-select" data-placeholder="Chọn Tỉnh Thành" onchange="change_province()" style="display: none;">
                                <option value=""></option>
                                                                    <option value="1">Hồ Chí Minh</option>
                                                                    <option selected="selected" value="2">Hà Nội</option>
                                                            </select><div class="chosen-container chosen-container-single" style="width: 100%;" title="" id="province_chosen"><a class="chosen-single chosen-single-with-deselect" tabindex="-1"><span>Hà Nội</span><abbr class="search-choice-close"></abbr><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input autocomplete="off" type="text"></div><ul class="chosen-results"></ul></div></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                              <select name="district" id="district" class="form-control search-select" data-placeholder="Chọn Quận" style="display: none;">
                                <option value=""></option>
                                                                    <option value="30">Tây Hồ</option>
                                                                    <option value="59">Tây Hồ (Ciputra)</option>
                                                                    <option value="3">Ba Đình</option>
                                                                    <option value="25">Hoàn Kiếm</option>
                                                                    <option value="22">Đống Đa</option>
                                                                    <option value="4">Cầu Giấy</option>
                                                                    <option selected="selected" value="24">Hai Bà Trưng</option>
                                                                    <option value="31">Thanh Xuân</option>
                                                                    <option value="26">Hoàng Mai</option>
                                                                    <option value="23">Hà Đông</option>
                                                                    <option value="27">Long Biên</option>
                                                                    <option value="45">Bắc Từ Liêm</option>
                                                                    <option value="37">Gia Lâm</option>
                                                                    <option value="44">Nam Từ Liêm</option>
                                                                    <option value="38">Từ Liêm</option>
                                                                    <option value="43">Mỹ Đình</option>
                                                                    <option value="29">Mỹ Đức</option>
                                                            </select><div class="chosen-container chosen-container-single" style="width: 100%;" title="" id="district_chosen"><a class="chosen-single chosen-single-with-deselect" tabindex="-1"><span>Hai Bà Trưng</span><abbr class="search-choice-close"></abbr><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input autocomplete="off" type="text"></div><ul class="chosen-results"></ul></div></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <a href="javascript:void(0)" class="find-btn" onclick="check_select_place();return false;">Tìm nhà hàng</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <ul class="footer-banner">
                        <li>Giao hàng và thu tiền tận nơi hoặc qua hình thức chuyển khoản</li>
                        <li>Hỗ trợ đặt hàng trực tuyến và qua điện thoại</li>
                        <li>Hệ thống tích lũy điểm hấp dẫn, dành riêng cho khách hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    </div>
</main>
<div id="frm_alert_place" class="frame_block">
    <div class="chonmon_block">
        <div class="chonmon_block_padding">
            <div class="chonmon_block_heading">
                <span class="left">Bạn chưa chọn địa điểm.</span>
                <div class="right close_button" onclick="close_dialog('frm_alert_place')"></div>
            </div>
            <div class="chonmon_block_content">
                <div class="clearfix">
                    <p>Bạn vui lòng chọn nơi mà bạn muốn nhận đồ ăn.</p>
                </div>
                <div align="center">
                    <input value=" Đóng " onclick="close_dialog('frm_alert_place')" type="button">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="model-eat-point" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mod-custom">
        <div class="modal-content">
            <div class="modal-body">
                <a href="javascript:void(0)" class="close-btn" data-dismiss="modal" aria-hidden="true"></a>
                <div class="row">
                    <div class="col-md-12">
                        Số điểm Chonmon.vn là hệ thống tích lũy điểm sau mỗi đơn hàng trị giá từ 100,000 mà bạn đặt. <br>Bạn sẽ nhận được giảm giá khi đạt đủ số điểm thưởng
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal login / register -->
<div class="modal fade" id="model-login-register" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mod-custom">
        <div class="modal-content">
            <div class="modal-body">
                <a href="#" class="close-btn" data-dismiss="modal" aria-hidden="true"></a>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Đăng nhập</h2>
                        <div class="wrapper">
                            <form id="RegisterFormPopup" name="RegisterFormPopup" method="POST">
                                <input id="must_change_password" value="0" type="hidden">
                                <input id="old_href" name="old_href" value="" type="hidden">
                                <div class="wrapper-row">
                                    <p class="log-note error" id="error_general" style="display:none;"><label>&nbsp;</label>Không tồn tại số điện thoại hoặc xác nhận mật khẩu sai</p>
                                </div>
                                <div class="wrapper-row">
                                    <label for="user_name">Số điện thoại (*):</label>
                                    <span class="in"><input id="user_name" name="user_name" type="text"></span>
                                    <p class="log-note error" id="error_number" style="display:none;"><label>&nbsp;</label>Số điện thoại không được để trống.</p>
                                </div>
                                <div class="wrapper-row">
                                    <label for="password">Mật khẩu (*):</label>
                                    <span class="in"><input id="password" name="password" type="password"></span>
                                    <p class="log-note error" id="error_password" style="display:none;"><label>&nbsp;</label>Mật khẩu không được để trống.</p>
                                </div>
                                <div class="wrapper-row" id="new_password_wrapper" style="display:none;">
                                    <label for="new_password">Mật khẩu mới (*):</label>
                                    <span class="in"><input id="new_password" name="new_password_this" type="password">
                                </span></div>
                                <div class="wrapper-row" id="re_password_wrapper" style="display:none;">
                                    <label class="pull-left">Xác nhận mật khẩu (*):</label><input id="re_password" name="re_password_this" type="password">
                                </div>

                                <div class="log-note active" style="margin-left: 19%;" id="field_captcha"></div>

                                <div class="wrapper-row wrapper-footer">
                                    <label>&nbsp;</label>
                                    <span class="in yellow">
                                        <span>Nhắc nhở tôi</span>
                                        <input id="set_cookie" name="foodnet_id" type="checkbox">
                                    </span>
                                    <label>&nbsp;</label>
                                    <span class="in">
                                        <input class="normal-btn" id="btn_login" value="Đăng nhập" type="submit">
                                    </span>
                                </div>

                                <div class="wrapper-row">
                                    <label>&nbsp;</label>
                                    <span class="in" style=""><a href="/forgot_password.html" class="yellow btn-forgot-password">Bạn đã quên mật khẩu?</a></span>
                                </div>
                            </form></div>

                    </div>
                    <div class="col-md-6">
                        <h2>Tạo tài khoản</h2>
                        <div class="wrapper">
                            <div class="wrapper-row">
                                <p class="log-note error" id="error_general_regis" style="display:none;"><label>&nbsp;</label>Số điện thoại hoặc email đã tồn tại trong hệ thống!</p>
                            </div>
                            <form action="https://chonmon.vn/register.html" id="RegisterForm" name="RegisterForm" method="POST">
                                <div class="wrapper-row">
                                    <label for="register_user_name">Họ Tên (*):</label>
                                    <span class="in"><input name="register_user_name" id="register_user_name" type="text"></span>
                                    <p class="log-note error" id="error_register_user_name" style="display:none;"><label>&nbsp;</label>Họ tên không được để trống.</p>
                                </div>
                                <div class="wrapper-row">
                                    <label for="register_user_tel">Điện thoại (*):</label>
                                    <span class="in"><input name="register_user_tel" id="register_user_tel" type="text"></span>
                                    <p class="log-note error" id="error_register_user_tel" style="display:none;"><label>&nbsp;</label>Số điện thoại không được để trống.</p>
                                </div>
                                <div class="wrapper-row">
                                    <label for="email">Email (*):</label>
                                    <span class="in"><input id="email" name="email" type="text"></span>
                                    <p class="log-note error" id="error_email" style="display:none;"><label>&nbsp;</label>Email không được để trống.</p>
                                </div>

                                <div class="wrapper-row wrapper-footer">
                                    <label>&nbsp;</label>
                                    <span class="in">
                                        <input class="normal-btn" id="btn_register" name="submit" value="Đăng ký" type="submit">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal login / register -->

<!-- Modal scan_step / register -->
<div class="modal fade" id="scan_step" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mod-custom">
        <div class="modal-content">
            <div class="modal-body">
                <a href="#" class="close-btn" data-dismiss="modal" aria-hidden="true"></a>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Cài đặt bảo mật 2 bước OTP</h2>
                        <div class="wrapper" id="frm_setting_otp">
                            <div style="color:green">
                                Để nâng cao độ an toàn mật khẩu và bảo mật hệ thống, vui lòng cài đặt OTP
                            </div>
                            <div id="setting_2steps" style="font-size: 13px;margin-top: 15px">
                                <h4 id="app_otp">Nhận OTP qua ứng dụng mobile</h4>
                                <div class="app_otp">
                                    <div style="text-align: center"> <b style="text-align: center">Dùng ứng dụng ( Authy hoặc Google Authenticator ) để scan QR-Code bên dưới</b>
                                        <br>
                                        <br>
                                        <img id="qrcode_img" src=""></div>
                                    <p>
                                    </p></div>
                            </div>
                            <h4 id="sms_otp">Nhận OTP qua SMS. ( Nếu bạn không dùng lựa chọn này, hãy để trống ô nhập. )</h4>
                            <div class="sms_otp">
                                <p><span style="width: 40%;display: inline-block;">Nhập số điện thoại nhận OTP: </span> <input style="padding: 5px 10px" name="phone" id="phone" value="" placeholder="Enter mobile number" type="text"> </p>
                            </div>
                            <button style="box-shadow: 0 0px 3px #666" class="normal-btn" type="button" onclick="register.next_step();">
                                <span>Tiếp theo</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal scan_step / register -->

<!-- Modal check_step / register -->
<div class="modal fade" id="check_step" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mod-custom">
        <div class="modal-content">
            <div class="modal-body">
                <a href="#" class="close-btn" data-dismiss="modal" aria-hidden="true"></a>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Cài đặt bảo mật 2 bước OTP</h2>
                        <div class="wrapper" id="frm_setting_otp_confirm">
                            <div style="color:green">
                                Để nâng cao độ an toàn mật khẩu và bảo mật hệ thống, vui lòng cài đặt OTP
                            </div>
                            <div id="setting_2steps" style="font-size: 13px;margin-top: 15px">
                                <div class="app_otp">
                                    <p>
                                        Nhập mã OTP bạn nhận được từ thiết bị đã đăng ký
                                        <input style="padding: 5px 10px" name="otp_code" id="otp_code" onkeypress="register.enterto_acceptotp(event);" placeholder="Enter your OTP code." type="text"></p>
                                    <br>
                                    <span style="color:red;" id="msg_err"></span>
                                </div>
                            </div>
                            <button style="box-shadow: 0 0px 3px #666" class="normal-btn" type="button" onclick="register.accept_otp();">
                                <span>Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal check_step / register -->


<div class="best-dishes-to">
    <div class="container text-center">
        <a href="/best-sellers.html" class="best-to">Top 10 Món ăn phổ biến <span>Vào Xem <i class="glyphicon glyphicon-chevron-right"></i></span></a>
        <a href="/best-sellers.html?cmd=restaurant" class="best-to">Top 10 nhà hàng bán chạy nhất <span>Vào Xem <i class="glyphicon glyphicon-chevron-right"></i></span></a>
    </div>
</div>

<!--/begin guide to make an order -->
<div class="guide-order">
    <div class="container">
        <h3>4 bước đơn giản để có được món ăn ưa thích.</h3>
        <hr>
        <ul class="row">
            <li class="col-md-3">
                <label class="ico-1"></label>
                <span class="guide-name"><i class="num">1</i> Chọn vị trí của bạn</span>
            </li>
            <li class="col-md-3">
                <label class="ico-2"></label>
                <span class="guide-name"><i class="num">2</i> Chọn nhà hàng</span>
            </li>
            <li class="col-md-3">
                <label class="ico-3"></label>
                <span class="guide-name" style="width: 265px;"><i class="num">3</i> Chọn món ăn ưa thích của bạn</span>
            </li>
            <li class="col-md-3">
                <label class="ico-4"></label>
                <span class="guide-name"><i class="num">4</i> Thanh toán và tận hưởng</span>
            </li>
        </ul>
    </div>
</div>
<!--/end guide to make an order -->

<div class="app-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-right"><img src="https://chonmon.vn/public/images/image1.jpg"></div>
            <div class="col-md-6 col-sm-6">
                <h2>Chọn món <span>trên từng ngón tay</span></h2>
                <p>Bạn có thể đặt món với hơn 400 địa điểm ăn uống, nhà hàng, tiệm bánh ngay trên đường đi.</p>
                <p><a href="https://itunes.apple.com/vn/app/chon-mon/id666264912?l=vi&amp;mt=8"><img src="https://chonmon.vn/public/images/apple-store.jpg"></a>
                    <a href="https://play.google.com/store/apps/details?id=vn.vccorp.chonmon.activity"><img src="https://chonmon.vn/public/images/google-play.jpg"></a>
                </p>
                <p>Tải ứng dụng tại Appstore: <a href="https://itunes.apple.com/vn/app/chon-mon/id666264912?l=vi&amp;mt=8">IOS</a> / <a href="https://play.google.com/store/apps/details?id=vn.vccorp.chonmon.activity">Android</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- /begin Quick go-to-top & Chat-->
<div class="quick-link">
    <div class="container">
        <div class="row">
            <a class="to-top" href="javascript:void(0);" title="Lên đầu trang">&nbsp;</a>
            <a class="to-skype" href="skype:chonmon.vn?chat" title="Skype">&nbsp;</a>
            <a class="to-yahoo" href="ymsgr:SendIM?chonmonvn" title="Yahoo!">&nbsp;</a>
        </div>
    </div>
</div>
<!-- /end Quick go-to-top & Chat-->

<div class="email-signup text-center">
    <div class="container">
        <div class="row tag-line">
            “ Đừng bỏ lỡ những khuyến mãi hấp dẫn từ các nhà hàng uy tín nhất qua email “
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-3 col-sm-5 col-sm-offset-2 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input class="form-control" placeholder="Email" id="email-signup" type="text">
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 text-left">
                <a href="javascript:;" class="signup-btn">Đăng ký</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container text-center">
        <div class="row">
                            <div class="stackbanner" style="display: none;">
                    <span class="close_stackbanner" onclick="$('.stackbanner').hide();">×</span>
                    <div id="stack-banner" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                                                    <div class="item">
                                <a href="https://chonmon.vn/ricotaco">
                                    <img src="https://eat.vcmedia.vn/banner_bottom//20170307112125_20160830130949_banner_rico_taco.jpg">
                                </a>
                            </div>
                                                    <div class="item active">
                                <a href="https://chonmon.vn/jollibee">
                                    <img src="https://eat.vcmedia.vn/banner_bottom//20170307112158_20160822162138__243bde4e179bfde68b4f.jpg">
                                </a>
                            </div>
                                                    <div class="item">
                                <a href="http://suma.vn/vi">
                                    <img src="https://eat.vcmedia.vn/banner_bottom//20170307114114_20151127114253_suma_374_x_150_en.jpg">
                                </a>
                            </div>
                                                </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#stack-banner" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Quay lại</span>
                        </a>
                        <a class="right carousel-control" href="#stack-banner" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Kế tiếp</span>
                        </a>
                    </div>

                    <script>
                        jQuery(document).ready(function(){
                            setTimeout(function(){ $('.stackbanner').show(); }, 1000);
                        });
                    </script>

                </div>
                        <ul class="menu-footer">
                <li>
                    <a href="https://chonmon.vn/about_us.html">
                    <i class="icon about"></i><br>
                    VỀ CHONMON
                    </a>
                </li>
                <li>
                    <a href="https://chonmon.vn/contact.html">
                    <i class="icon contact"></i><br>
                    LIÊN HỆ
                    </a>
                </li>
                <li>
                    <a href="https://chonmon.vn/support.html">
                    <i class="icon support"></i><br>
                    HỖ TRỢ
                    </a>
                </li>
                <li>
                    <a href="https://chonmon.vn/cooperation.html">
                    <i class="icon cooperation"></i><br>
                    HỢP TÁC
                    </a>
                </li>
                <li>
                    <a href="http://blog.chonmon.vn" target="_blank">
                        <i class="icon blog"></i><br>
                        BLOG
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/chonmonvcc?fref=ts">
                    <i class="icon facebook"></i><br>
                    Facebook
                    </a>
                </li>
            </ul>
        </div>
        <div class="row text-center">
            <a href="http://vccorp.vn/"><img src="https://chonmon.vn//images/vcc_logo.png"></a>
        </div>
    </div>
</footer>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("img[src*='http://eimr.todo.vn']").each(function() {
            var filepath = jQuery(this).attr("src");
            if (filepath.indexOf("res_") != -1) {
                filepath = filepath.toString().replace("http://eimr.todo.vn/", "http://chonmon.vn/img_upload/original/");
            } else {
                filepath = filepath.toString().replace("http://eimr.todo.vn/", "http://chonmon.vn/");
            }
            jQuery(this).attr("src", filepath);
        });
        jQuery("div[style*='http://eimr.todo.vn/img_upload']").each(function() {
            var style = jQuery(this).attr("style");
            if (style.indexOf("res_") != -1) {
                style = style.toString().replace("http://eimr.todo.vn/img_upload/", "http://chonmon.vn/img_upload/original/");
            } else {
                style = style.toString().replace("http://eimr.todo.vn/", "http://chonmon.vn/");
            }
            jQuery(this).attr("style", style);
        });
    });
</script>

</body>
