# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 184b2c4e20a3d02d16f8d15044214411c4f438bb03eac714ccb6e9c52fa6e5dc1f3fdbe9b13c979b6480bcc212c133d3ae2031a3babbc6640ee4d023118367d2

test:
  secret_key_base: d43b4cf7e18ee5028c734085e9ce519ec16830653cf4799b8ab2830c74c92f42319da547f940fc3419d278a781210992c35e0b48103b924c4146e5314b35e08d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
