<tr>
  <td><%= image_tag "#{food.name}.png" %></td>
  <td><%= link_to food.name, food %></td>
  <% unless logged_in? %>
    <td><%= link_to t(".order"), "#", class: "btn btn-lg btn-primary" %></td>
  <% end %>
</tr>
