<footer class="footer">
  <%= t(".footer").html_safe %>
  <nav>
    <ul>
      <li><%= link_to t(".about"), page_path(page: :about) %></li>
      <li><%= link_to t(".contact"), page_path(page: :contact) %></li>
      <li><%= link_to t(".new"), "http://afamily.vn/an-ngon.chn" %></a></li>
    </ul>
  </nav>
</foabout>
