<footer class="footer">
  <%= t ".footer" %>
  <nav>
    <ul>
      <li><%= link_to t(".about"), page: "about" %></li>
      <li><%= link_to t(".contact"), page: "contact" %></li>
      <li><%= link_to t(".new"), "http://afamily.vn/an-ngon.chn" %></a></li>
    </ul>
  </nav>
</foabout>
