<header id="top" class="header bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <h1 class="logo">
                <a class="navbar-brand" href="/">Chọn món ăn trực tuyến</a>
            </h1>
            <ul class="navbar-toggle skip-link" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <li><a class="skip-contact-icon" href="javascript:void(0);">08. 7308 3939</a></li>
                <li><a class="skip-account-icon" href="javascript:void(0);">Sign in / Sign up</a></li>
            </ul>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="contact">
                    <span>08. 7308 3939</span> (7h – 23h)
                </li>

                <li class="account">
                                            <a href="/register.html" onclick="open_model('#model-login-register'); return false;" class="model-login">Đăng ký</a> /
                        <a href="/register.html" onclick="open_model('#model-login-register'); return false;" class="model-register">Đăng nhập</a>
                                    </li>
            </ul>
        </nav>
    </div>
</header>
